*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color:darkgray;
}
nav {
    padding: 0;
    margin: 0;
    height: 100%;
}

main{
    box-sizing: border-box;
    background-color:darkgray;
    height: 100%;
    /*padding: 20px;  Espaçamento interno */
}

nav.menu-lateral{
    padding: 0;
    margin: 0;
    width: 5%;
    min-height: 100vh;
    float: left;
    background-color: rgb(58, 54, 49);
    box-shadow: 3px 0 0 #FF0077;
    z-index: 1; /* Define a ordem de empilhamento */
    position: fixed; /* Fixa a nav */
    left: 0; /* Alinha a nav à esquerda */
    top:0;
    overflow: hidden; /* Esconde o conteúdo que transborda */
}

nav.menu-lateral:hover{
    width: 20%;
}

section{
    min-height: calc(100%); /* Ajuste conforme necessário */
}
article{
    background-color:darkgray;
    text-align: center;
    box-sizing: border-box;
    transition: margin-left 0.5s; /* Adiciona uma transição para o margin-left */
}

.menu-lateral:hover + article {
    width: 79.9%; /* Define a largura do artigo como 90% ao passar o mouse na nav */
    float: right;
}


.btn-expandir{
    padding-top: 10px;
    width: 100%;
    padding-left: 25px;
}

.btn-expandir > i{
    color:azure;
    font-size: 24px;
    cursor: pointer;
}

nav ul li{
    list-style-type: none;
    padding-left: 20px;
}
a{
    text-decoration: none;
}

.item-menu a{
    color: azure;
    text-decoration: none;
    font-size: 30px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 10px;
}

.item-menu a .txt-link{
    margin-left: 28px;
}

.item-menu:hover{
    background-color: #FF0077;
}

.item-menu a .icon > i{
    font-size: 30px;
}

 footer{
    background-color: rgb(58, 54, 49);
    width: 100%;
    height: 50px;
    bottom: 0;
} 

.info{
    padding: 20px;
    margin-left: 20px;
}
.info ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

