<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Back Cannabis Med </title>
    <link rel="stylesheet" type="text/css" th:href="@{../dashboard.css}" />
    <!-- Importando CSS do Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main>
        <nav class="menu-lateral">

            <div class="btn-expandir">
                <i class="bi bi-card-list"></i>
            </div>

            <ul>
                <li class="item-menu">
                    <a href="#">
                        <span class="icon"><i class="bi bi-house-door"></i></span>
                        <span class="txt-link">Home</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="/clinica/dashboard">
                        <span class="icon"><i class="bi bi-columns-gap"></i></span>
                        <span class="txt-link">Dashboard</span>
                    </a>
                </li>
                <!-- Preciso redirecionar cada pagina a si mesma -->
                <li class="item-menu">
                    <a href="/clinica/paciente/">
                        <span class="icon"><i class="bi bi-person-square"></i></span>
                        <span class="txt-link">Pacientes</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#">
                        <span class="icon"><i class="bi bi-postcard-heart-fill"></i></span>
                        <span class="txt-link">Médicos</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#">
                        <span class="icon"><i class="bi bi-eyedropper"></i></span>
                        <span class="txt-link">Enfermeiros</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="#">
                        <span class="icon"><i class="bi bi-calendar3"></i></span>
                        <span class="txt-link">Agendamento</span>
                    </a>
                </li>
            </ul>
        </nav>
        <article>
            <h1> tela de pacientes </h1>
            <table class="table caption-top">
                <thead class="table-light">
                  <tr>
                    <th scope="col" th:text="Nome"></th>
                    <th scope="col" th:text="Endereco"></th>
                    <th scope="col" th:text="Telefone"></th>
                    <th scope="col" th:text="Nascimento"></th>
                    <th scope="col" th:text="Admissão"></th>
                    <th scope="col" th:text="Editar"></th>
                    <th scope="col" th:text="Apagar"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="paciente: ${pacientes}">
                    <td th:text="${paciente.nome}"></td>
                    <td th:text="${paciente.endereco}"></td>
                    <td th:text="${paciente.telefone}"></td>
                    <td th:text="${paciente.data_nasc}"></td>
                    <td th:text="${paciente.data_admissao}"></td>
                    <td>
                        <a href="#">
                            <span class="icon"><i class="bi bi-pencil", style="color:rgb(33, 126, 129);"></i></span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{
                            removePaciente/{id} (id=${paciente.getId()} )
                        }">
                        
                            <span class="icon"><i class="bi bi-trash", style="color:brown;"></i></span>
                        </a>
                    </td>
                  </tr>
                </tbody>
            </table>
            <br>
            <br>
            <a href="showFormPaciente" class="btn btn-success"> Adiciona novos pacientes </a>
            <!-- <a href="/home"> Voltar para o Menu Inicial</a> -->
        </article>
        <footer>
            <p class="direitos">Todos os direitos reservados </p>
        </footer> 
    </main>
    
</body>
</html>

           <!-- <a href="paciente/removePaciente" th:href="@{removeAluno/{AlunoId}(AlunoId=${aluno.id})}"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                      </a> -->
           